In [ ]:
'''5. Usando as bibliotecas Pandas e MatPlotLib e um dataset (podes selecionar das aulas, fazer 
download na plataforma kaggle ou escolher um dataset pessoal), elabora um notebook 
jupyter no qual efetues: 
•1_3 Limpeza e tratamento de dados; 
•2_3 Processamento de dados: groupby, filter, criação de novas colunas,…; 
•3_3 Visualização de dados; 
    alínea          Cotação (escala 1-20) 
        1                       3 
        2                       4 
        3                       4 
        4                       4 
        5                       5 '''

'5. Usando as bibliotecas Pandas e MatPlotLib e um dataset (podes selecionar das aulas, fazer \ndownload na plataforma kaggle ou escolher um dataset pessoal), elabora um notebook \njupyter no qual efetues: \n•1_3 Limpeza e tratamento de dados; \n•2_3 Processamento de dados: groupby, filter, criação de novas colunas,…; \n•3_3 Visualização de dados; \n    alínea          Cotação (escala 1-20) \n        1                       3 \n        2                       4 \n        3                       4 \n        4                       4 \n        5                       5 '

In [1]:
#import pandas 
import pandas as pd

In [2]:
#ler ficheiro cast.csv para dataframe do pandas casts
casts = pd.read_csv('cast.csv', index_col=None) 
 
#Imprime as 5 primeiras linhas
print(casts.head(),"\n\n<<<<<>>>>>\n")
#Imprime as 5 últimas linhas
print(casts.tail())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

<<<<<>>>>>

                          title  year                        name     type  \
74996  Mia fora kai ena... moro  2011     Penelope Anastasopoulou  actress
74997         The Magician King  2004       Tiannah Anastassiades  actress
74998        Festival of Lights  2010             Zoe Anastassiou  actress
74999                Toxic Tutu  2016             Zoe Anastassiou  actress
75000           Fugitive Pieces  2007  Anastassia Anastassopoulou  actress

                     character     n
74996       Popi voulkanizater  11.0
74997  Unicycle Race Attendant   NaN
74998       Guidance Counselor  20.0
74999        Demon of Toxicity   NaN
75000             Laundry Girl  25.0

In [3]:
#ler ficheiro titles.csv para dataframe pandas titles 
titles = pd.read_csv('titles.csv', index_col =None) 
 
#Imprime as 5 primeiras linhas
print(titles.head(),"\n\n<<<<<>>>>>\n")
#Imprime as 5 últimas linhas
print(titles.tail())

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

<<<<<>>>>>

                      title  year
49995                 Rebel  1970
49996               Suzanne  1996
49997                 Bomba  2013
49998  Aao Jao Ghar Tumhara  1984
49999            Mrs. Munck  1995

In [4]:
c = casts  
 
#obtem o dataframe cf a partir de c filtrando os dados que verifiquem a condição do autor ser 'Aaron Abrams' 
cf = c[c['name'] == 'Aaron Abrams']  
 
#Agrupar os dados do dataframe anterior (autor ser 'Aaron Abrams') pela coluna year (ano), primeiras 5 linhas
print(cf.groupby(['year']).size().head(),"\n\n<<<<<>>>>>\n") 
 
#groupby agrupar por múltiplas colunas, 2 colunas, year e tittle. Mostra as 5 linhas iniciais.
gbmultiplecolumns = cf.groupby(['year', 'title']).size() 
gbmultiplecolumns.head()

year
2003    2
2004    2
2005    2
2006    1
2007    2
dtype: int64

<<<<<>>>>>

year  title
2003  The In-Laws                             1
      The Visual Bible: The Gospel of John    1
2004  Resident Evil: Apocalypse               1
      Siblings                                1
2005  Cinderella Man                          1
dtype: int64

In [22]:
# Extra: Exemplo Merge


#leitura dos dados do ficheiro release_dates.csv para o dataframe release 
release = pd.read_csv('release_dates.csv', index_col=None) 
print(release.head(),"\n\n<<<<<>>>>>\n") 

# filtrar Amelia do cast.csv
c_amelia = casts[ casts['title'] == 'Amelia'] 
print(c_amelia.head(),"\n\n<<<<<>>>>>\n") 

# filtrar Amelia do release_dates.csv
print(release [ release['title'] == 'Amelia' ].head(),"\n\n<<<<<>>>>>\n") 
 
#imprime os primeiras cinco linhas do merge (fusão) c_amelia com o dataframe, junta os 2 resultados
release 
print(c_amelia.merge(release).head())

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20

<<<<<>>>>>

        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0

<<<<<>>>>>

        title  year    country        date
20543  Amelia  1966     Mexico  1966-03-10
20544  Amelia  2009     Canada  2009-10-23
20545  Amelia  2009        USA  2009-10-23
20546  Amelia  2009  Australia  2009-11-12
20547  Amelia  2009  Singapore  2009-11-12

<<<<<>>>>>

    title  year          name   type    character    n    country        date
0  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0     Canada  2009-10-23
1  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0        USA  2009-10-23
2  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Australia  2009-11-12
3  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Singapore  2009-11-12
4  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0    Ireland  2009-11-13

In [33]:


# Suponha que você já tenha carregado seus DataFrames
# Agrupar os dados de 'c_amelia' por 'title' e contar o número de registros por título
c_amelia_grouped = c_amelia.groupby('title').size().reset_index(name='amelia_count')
print("Dados agrupados de c_amelia:\n", c_amelia_grouped.head(), "\n\n<<<<<>>>>>\n")

# Exibir as primeiras linhas de 'c_amelia'
print("Primeiras linhas de c_amelia:\n", c_amelia.head(), "\n\n<<<<<>>>>>\n")

release_grouped = release.groupby('title').size().reset_index(name='release_count')
# Agora, podemos comparar os dados agrupados de 'release' e 'c_amelia'
print("Dados agrupados de release para 'Amelia':\n", release_grouped[release_grouped['title'] == 'Amelia'])
print("Dados agrupados de c_amelia para 'Amelia':\n", c_amelia_grouped[c_amelia_grouped['title'] == 'Amelia'])

# Comparação completa entre release_grouped e c_amelia_grouped
comparison = pd.merge(c_amelia_grouped, release_grouped, on='title', how='outer', suffixes=('_amelia', '_release'))
print("\nComparação entre c_amelia e release:\n", comparison)

Dados agrupados de c_amelia:
     title  amelia_count
0  Amelia             2

<<<<<>>>>>

Primeiras linhas de c_amelia:
         title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0

<<<<<>>>>>

Dados agrupados de release para 'Amelia':
        title  release_count
5775  Amelia             25
Dados agrupados de c_amelia para 'Amelia':
     title  amelia_count
0  Amelia             2

Comparação entre c_amelia e release:
                         title  amelia_count  release_count
0       #73, Shaanthi Nivaasa           NaN              1
1                     #Beings           NaN              1
2                   #Declimax           NaN              1
3      #Ewankosau saranghaeyo           NaN              1
4                     #Horror           NaN              2
...                       ...           ...            ...
14169                 Botchan           NaN              1
14170                 Botched           NaN              3
14171    Bote, dyaryo, garapa           NaN              1
14172    Both Barrels Blazing           NaN              1
14173         Botika sa baryo           NaN              1

[14174 rows x 3 columns]

In [55]:
#criação de novas colunas

c = casts
#Imprime as 5 primeiras linhas
print(casts.head(),"\n\n<<<<<>>>>>\n")
# O código abaixo usa o método get_dummies da biblioteca pandas para criar 2 novas colunas para cada
# um dos 2 valores possíveis para a coluna 'type'.
novas_colunas = pd.get_dummies(c["type"]) #cria novas colunas binárias para cada valor único em type.

c2 = pd.concat([c,novas_colunas], axis=1) # axis = 1 concatena colunas, axis = 0 concatena linhas
print(c2.head())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

<<<<<>>>>>

                  title  year      name   type                character     n  \
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

   actor  actress
0   True    False
1   True    False
2   True    False
3   True    False
4   True    False

In [ ]:
#Agora podemos remover a coluna original dos dados 'type'
c2.drop('type', axis=1, inplace=True)
#Imprime as 5 primeiras linhas
print(c2.head())

                  title  year      name                character     n  actor  \
0        Closet Monster  2015  Buffy #1                  Buffy 4  31.0   True
1       Suuri illusioni  1985    Homo $                   Guests  22.0   True
2   Battle of the Sexes  2017   $hutter          Bobby Riggs Fan  10.0   True
3  Secret in Their Eyes  2015   $hutter          2002 Dodger Fan   NaN   True
4            Steve Jobs  2015   $hutter  1988 Opera House Patron   NaN   True

   actress
0    False
1    False
2    False
3    False
4    False