In [ ]:
'''5. Usando as bibliotecas Pandas e MatPlotLib e um dataset (podes selecionar das aulas, fazer 
download na plataforma kaggle ou escolher um dataset pessoal), elabora um notebook 
jupyter no qual efetues: 
•1_3 Limpeza e tratamento de dados; 
•2_3 Processamento de dados: groupby, filter, criação de novas colunas,…; 
•3_3 Visualização de dados; 
    alínea          Cotação (escala 1-20) 
        1                       3 
        2                       4 
        3                       4 
        4                       4 
        5                       5 '''

In [13]:
#import pandas 
import pandas as pd

In [ ]:
#ler ficheiro cast.csv para dataframe do pandas casts
casts = pd.read_csv('cast.csv', index_col=None) 
 
#Imprime as 5 primeiras linhas
print(df_casts.head())
#Imprime as 5 últimas linhas
print(df_casts.tail())

NameError: name 'df_cast' is not defined

In [ ]:
#ler ficheiro titles.csv para dataframe pandas titles 
titles = pd.read_csv('titles.csv', index_col =None) 
 
#Imprime as 5 primeiras linhas
print(df_titles.head())
#Imprime as 5 últimas linhas
print(df_titles.tail())

In [27]:
c = casts  
 
#obtem o dataframe cf a partir de c filtrando os dados que verifiquem a condição do autor ser 'Aaron Abrams' 
cf = c[c['name'] == 'Aaron Abrams']  
 
#Agrupar os dados do dataframe anterior pela coluna year 
print(cf.groupby(['year']).size().head()) 
 
#group by com múltiplas colunas 
gbmultiplecolumns = cf.groupby(['year', 'title']).size() 
gbmultiplecolumns.head()

year
2003    2
2004    2
2005    2
2006    1
2007    2
dtype: int64

year  title
2003  The In-Laws                             1
      The Visual Bible: The Gospel of John    1
2004  Resident Evil: Apocalypse               1
      Siblings                                1
2005  Cinderella Man                          1
dtype: int64

In [28]:
#leitura dos dados do ficheiro release_dates.csv para o dataframe release 
release = pd.read_csv('release_dates.csv', index_col=None) 
print(release.head()) 
 
c_amelia = casts[ casts['title'] == 'Amelia'] 
print(c_amelia.head()) 
print(release [ release['title'] == 'Amelia' ].head()) 
 
#imprimeir os primeiras cinco linhas do merge (fusão) c_amelia com o dataframe 
release 
print(c_amelia.merge(release).head())

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20
        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0
        title  year    country        date
20543  Amelia  1966     Mexico  1966-03-10
20544  Amelia  2009     Canada  2009-10-23
20545  Amelia  2009        USA  2009-10-23
20546  Amelia  2009  Australia  2009-11-12
20547  Amelia  2009  Singapore  2009-11-12
    title  year          name   type    character    n    country        date
0  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0     Canada  2009-10-23
1  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0        USA  2009-10-23
2  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Australia  2009-11-12
3  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0  Singapore  2009-11-12
4  Amelia  2009  Aaron Abrams  actor  Slim Gordon  8.0    Ireland  2009-11-13